# Firebase Configuration

FIREBASE_API_KEY=AIzaSyBcKcM3BflJUtP1jVlPlwkD_7aow5Naa-U
FIREBASE_AUTH_DOMAIN=meat-shop-data-base.firebaseapp.com
FIREBASE_PROJECT_ID=meat-shop-data-base
FIREBASE_STORAGE_BUCKET=meat-shop-data-base.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=785519018341
FIREBASE_APP_ID=1:785519018341:web:b42291ed0b256a790f618c

# Express Server Configuration

PORT=3000
NODE_ENV=development
SESSION_SECRET=mQXdTewUe95G5nuqnpEhIvGav8jcsgpT2JcKsWE6
